/* Estructura de cuadrícula */

main > section:nth-of-type(2) {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    gap: 1em;
    text-align: center;
    width: 80%;
    max-width: 100%;
    margin: 0 auto;
    height: auto;
}
main > section:nth-of-type(2) > h2 {
    grid-column: 1 / -1;
}

main > section:nth-of-type(2) > p {
    grid-column: 1 / -1;
    font-size: 1.2em;
    font-weight: bold;
}

main > section:nth-of-type(2) > div{
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: #0007; /* Negro con transparencia */
    border: 0.2em solid #000;
    transition: background-color 0.5s ease;
    height: auto;
}

/* Animación de encendido de luces */
@keyframes lightOn {
    from {
        background-color: #0007; /* Apagado */
    }
    to {
        background-color: red; /* Encendido (rojo) */
    }
}

main.load div {
    animation-name: lightOn;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

main.load div:nth-of-type(1) {
    animation-delay: 0s;
}

main.load div:nth-of-type(2) {
    animation-delay: 0.5s;
}

main.load div:nth-of-type(3) {
    animation-delay: 1s;
}

main.load div:nth-of-type(4) {
    animation-delay: 1.5s;
}

/* Animación de apagado de luces */
@keyframes out {
    from {
        background-color: red; /* Encendido (rojo) */
    }
    to {
        background-color: #0007; /* Apagado */
    }
}

main.unload div:nth-of-type(1) {
    animation-delay: 0s;
}

main.unload div:nth-of-type(2) {
    animation-delay: 0s;
}

main.unload div:nth-of-type(3) {
    animation-delay: 0s;
}

main.unload div:nth-of-type(4) {
    animation-delay: 0s;
}

main.unload div {
    animation-name: out;
    animation-duration: 0.1s;
    animation-fill-mode: forwards;
}

main > section:nth-of-type(2) > button {
    grid-column: 1 / -1;
}

/* Estilo de los botones */
button {
    padding: 0.5em 1em;
    font-size: 1.2em;
    cursor: pointer;
    align-self: center;
}


